{% extends 'base.html' %}
{% block title %}autoCN自动化接口平台-用例编辑{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="container text-center">

        <form class="form-caseEditor" method="post">
            <h2 class="form-signin-heading">测试用例编辑 - {{ casePath }}</h2>
            <h2 class="form-signin-heading">{{ status_code }}</h2>
            <textarea rows="50" cols="150" name="caseDetail" id="caseDetail">{{ caseDetail }}</textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">保存</button>
            {% csrf_token %}
        </form>

    </div> <!-- /container -->




{% endblock %}