{% extends 'base.html' %}
{% block title %}autoCN自动化接口平台-用例编辑{% endblock %}
{% load staticfiles %}
{% block menu %}
    <li><a href="/">首页</a></li>
    <li><a href="/dashboard/usedCar">看板<span class="sr-only">(current)</span></a></li>
    <li><a href="/runCase/{{ department }}">执行测试</a></li>
    <li><a href="/failReason/usedCar/testEnv">失败分析</a></li>
    <li class="active"><a href="/caseList/">用例列表</a></li>
    <li><a href="/articleList/">文章列表</a></li>
{% endblock %}
{% block content %}
    <div class="container text-center">

        <form class="form-caseEditor" method="post">
            <h2 class="form-signin-heading">测试用例编辑 - {{ casePath }}</h2>
            <h2 class="form-signin-heading">{{ status_code }}</h2>
            <textarea rows="50" cols="150" name="caseDetail" id="caseDetail">{{ caseDetail }}</textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">保存</button>
            {% csrf_token %}
        </form>

    </div> <!-- /container -->




{% endblock %}