{% extends 'base.html' %}
{% block title %}autoCN自动化平台-首頁{% endblock %}
{% load staticfiles %}
{% block content %}
    <h1 class="page-header">{% if department.departmentName != None %}
                {{ department.departmentName }}
            {% else %}
            {% endif %}</h1>
    <br>
    <div class="dropdown text-left">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true" style="width: 150px">
            {% if project.projectName != None %}
                {{ project.projectName }}
            {% else %}
                未选择
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 150px">
            {% for project in projectList %}
                <li><a href="./?department={{ department }}&project={{ project }}">{{ project.projectName }}</a></li>
            {% empty %}
                <li>None</li>
            {% endfor %}
            <li role="separator" class="divider"></li>
{#            <li><a href="#">其它</a></li>#}
        </ul>
        <button type="button" class="btn btn-primary" onclick="location='/failReason/?department={{ department }}&project={{ project }}'">失败原因汇总数据
        </button>
        <button type="button" class="btn btn-info" onclick="location='/runPage/?department={{ department }}&project={{ project }}'">执行测试</button>
    </div>
    <hr>
    <div class="row" id="tab1" style="height: auto; width: auto">

        <div style="height: 410px;min-height: 100px;width:50%;margin: 0 auto" id="mychartmain" class="col-md-6">
            <script type="text/javascript">
                var mychart = echarts.init(document.getElementById("mychartmain"))
                option = {
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [],
                        type: 'line',
                        areaStyle: {}
                    }]
                };
                mychart.showLoading();
                var rate = [];
                var id = []
                $.ajax({
                    type: "get",
                    async: true,
                    url: "/returnRate/?department={{ department }}&project={{ project }}",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result != null && result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                rate.push(result[i].rate);
                                id.push(result[i].id);
                            }
                            mychart.hideLoading();
                            mychart.setOption({
                                title: {
                                    text: '接口测试通过率'
                                },
                                legend: {
                                    data: ['通过率']
                                },
                                xAxis: {
                                    data: id
                                },
                                yAxis: [
                                    {
                                        type: 'value',
                                        axisLabel: {
                                            show: true,
                                            interval: 'auto',
                                            formatter: '{value} %'
                                        },
                                        show: true
                                    }
                                ],
                                series: [{
                                    name: '通过率',
                                    data: rate,
                                    type: 'line',
                                    color: '#8cd5a9',
                                    areaStyle: {},
                                }],
                                dataZoom: [
                                    {   // 这个dataZoom组件，默认控制x轴。
                                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                                        start: 75,      // 左边在 10% 的位置。
                                        end: 100         // 右边在 60% 的位置。
                                    }
                                ],
                                label: {
                                    show: true,
                                    interval: 'auto',
                                    rotate: 0,
                                    formatter: '{c} %',
                                    textStyle: {
                                        color: '#333'
                                    }
                                },
                                toolbox: {
                                    show: true,
                                    orient: 'horizontal',
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        magicType: {type: ['line', 'bar']},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },

                            })
                        }

                    }
                })

                mychart.setOption(option);
            </script>
        </div>


        <div class="table-responsive col-md-6" style="height: 410px;min-height: 100px;width:50%;margin: 0 auto">
            {#                <h2 class="sub-header" style="width:50%;margin: 0 auto" >Section title</h2>#}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>CI ID</th>
                    <th>测试执行时间</th>
                    <th>通过率</th>
                    <th>执行用例数</th>
                    <th>通过用例数</th>
                    <th>报告详情</th>
                    <th>失败原因</th>
                </tr>
                </thead>
                <tbody>
                {% for result in resultList %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.time_startat }}</td>
                        <td>{% widthratio result.passrate 1 100 %}%</td>
                        <td>{{ result.stat_testsRun }}</td>
                        <td>{{ result.stat_successes }}</td>
                        <td><a href="/reportDetail/{{ result.id }}/">详情</a></td>

                        <td>
                            {% if result.passrate == 100 %}
                                <button type="button" class="btn btn-success" disabled="disabled">✔ 达标</button>
                            {% elif result.isnotes == 1 %}
                                <button type="button" class="btn btn-success" disabled="disabled">✔已填写</button>
                            {% else %}
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#myAddNotesModal{{ result.id }}">未填写
                                </button>
                                <div class="modal fade" id="myAddNotesModal{{ result.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myAddNotesModal" aria-hidden="true">
                                    <div class="modal-dialog"
                                         style="height: 500px;min-height: 500px;width:500px;">
                                        <div class="modal-content">
                                            <form id="form-addNotes" method="POST"
                                                  style="align-content: center">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myAddNotesModal">請添加Notes內容</h4>
                                                </div>
                                                <label for="name"
                                                       style="margin-left: 5%;margin-top: 2%;width: 90%">选择列表</label>
                                                <select id="notesCategoryID{{ result.id }}" class="form-control"
                                                        style="margin-left: 5%;margin-top: 2%;width: 90%">
                                                    {% for category in notesCategory %}
                                                        <option>{{ category }}</option>
                                                    {% endfor %}
                                                </select>
                                                <textarea id="notesID{{ result.id }}" name="notes"
                                                          class="modal-body text-left"
                                                          style="margin-left: 5%;margin-top: 2%;width: 90%"></textarea>
                                                <!-- <div class="modal-body">在这里添加一些文本</div> -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                    <!-- <button type="button" class="btn btn-primary" type="submit">提交更改</button>-->
                                                    <!--<input type="submit" value="提交更改" class="btn btn-primary">-->
                                                    <input type="button" value="提交更改" class="btn btn-primary"
                                                           onclick="addNotes({{ result.id }})">

                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                <script type="text/javascript">
                    function addNotes(resultid) {
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "/addNotes/" + resultid + "/",
                            data: {
                                'notes': $('#notesID' + resultid).val(),
                                'notesCategory': $('#notesCategoryID' + resultid).val(),
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (data) {
                                alert("success!");
                                setTimeout(function () {
                                    location.reload();
                                }, 500)
                            },
                            error: function () {
                                alert("error!");
                            }
                        });
                    }
                </script>
                </tbody>
            </table>
        </div>
    </div>
    <hr>

{% endblock %}
