{% extends 'base.html' %}
{% block title %}autoCN自动化接口平台-首頁{% endblock %}
{% load staticfiles %}
{% block content %}
    <h1 class="page-header">Dashboard</h1>
    <div class="text-right" style="height: auto; width: auto">
        <button type="button" class="btn btn-primary">失败原因汇总数据</button>
        <button type="button" class="btn btn-success">获取最新数据</button>
        <button type="button" class="btn btn-info">（一般信息）Info</button>
    </div>

    <div class="row" id="tab1"  style="height: auto; width: auto">

        <div style="height: 410px;min-height: 100px;width:50%;margin: 0 auto" id="mychartmain" class="col-md-6">
            <script type="text/javascript">
                var mychart = echarts.init(document.getElementById("mychartmain"))
                option = {
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        type: 'line',
                        areaStyle: {}
                    }]
                };
                mychart.showLoading();
                var rate = [];
                var id = []
                $.ajax({
                    type: "get",
                    async: true,
                    url: "/returnRate/",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result != null && result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                rate.push(result[i].rate);
                                id.push(result[i].id);
                            }
                            mychart.hideLoading();
                            mychart.setOption({
                                title: {
                                    text: '接口测试通过率'
                                },
                                legend: {
                                    data: ['通过率']
                                },
                                xAxis: {
                                    data: id
                                },
                                yAxis: [
                                    {
                                        type: 'value',
                                        axisLabel: {
                                            show: true,
                                            interval: 'auto',
                                            formatter: '{value} %'
                                        },
                                        show: true
                                    }
                                ],
                                series: [{
                                    name: '通过率',
                                    data: rate,
                                    type: 'line',
                                    color: '#8cd5a9',
                                    areaStyle: {},
                                }],
                                dataZoom: [
                                    {   // 这个dataZoom组件，默认控制x轴。
                                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                                        start: 0,      // 左边在 10% 的位置。
                                        end: 100         // 右边在 60% 的位置。
                                    }
                                ],
                                label: {
                                    show: true,
                                    interval: 'auto',
                                    rotate: 0,
                                    formatter: '{c} %',
                                    textStyle: {
                                        color: '#333'
                                    }
                                },
                                toolbox: {
                                    show: true,
                                    orient: 'horizontal',
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        magicType: {type: ['line', 'bar']},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },

                            })
                        }

                    }
                })


                mychart.setOption(option);
            </script>
        </div>


        <div class="table-responsive col-md-6" style="height: 410px;min-height: 100px;width:50%;margin: 0 auto">
            {#                <h2 class="sub-header" style="width:50%;margin: 0 auto" >Section title</h2>#}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>CI ID</th>
                    <th>测试执行时间</th>
                    <th>通过率</th>
                    <th>报告详情</th>
                    <th>失败原因</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                </tr>
                <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                </tr>
                <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                </tr>
                <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>

{#    <div class="row" id="tab2">#}
{##}
{#        <div style="height: 410px;min-height: 100px;width:50%;margin: 0 auto" id="mychartmain2"#}
{#             class="col-md-6">#}
{#            <script type="text/javascript">#}
{#                var mychart = echarts.init(document.getElementById("mychartmain2"))#}
{#                option = {#}
{#                    xAxis: {#}
{#                        type: 'category',#}
{#                        boundaryGap: false,#}
{#                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']#}
{#                    },#}
{#                    yAxis: {#}
{#                        type: 'value'#}
{#                    },#}
{#                    series: [{#}
{#                        data: [820, 932, 901, 934, 1290, 1330, 1320],#}
{#                        type: 'line',#}
{#                        areaStyle: {}#}
{#                    }]#}
{#                };#}
{#                mychart.showLoading();#}
{#                var rate = [];#}
{#                var id = []#}
{#                $.ajax({#}
{#                    type: "get",#}
{#                    async: true,#}
{#                    url: "/returnRate/",#}
{#                    data: {},#}
{#                    dataType: "json",#}
{#                    success: function (result) {#}
{#                        if (result != null && result.length > 0) {#}
{#                            for (var i = 0; i < result.length; i++) {#}
{#                                rate.push(result[i].rate);#}
{#                                id.push(result[i].id);#}
{#                            }#}
{#                            mychart.hideLoading();#}
{#                            mychart.setOption({#}
{#                                title: {#}
{#                                    text: '接口测试通过率'#}
{#                                },#}
{#                                legend: {#}
{#                                    data: ['通过率']#}
{#                                },#}
{#                                xAxis: {#}
{#                                    data: id#}
{#                                },#}
{#                                yAxis: [#}
{#                                    {#}
{#                                        type: 'value',#}
{#                                        axisLabel: {#}
{#                                            show: true,#}
{#                                            interval: 'auto',#}
{#                                            formatter: '{value} %'#}
{#                                        },#}
{#                                        show: true#}
{#                                    }#}
{#                                ],#}
{#                                series: [{#}
{#                                    name: '通过率',#}
{#                                    data: rate,#}
{#                                    type: 'line',#}
{#                                    color: '#8cd5a9',#}
{#                                    areaStyle: {},#}
{#                                }],#}
{#                                dataZoom: [#}
{#                                    {   // 这个dataZoom组件，默认控制x轴。#}
{#                                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件#}
{#                                        start: 0,      // 左边在 10% 的位置。#}
{#                                        end: 100         // 右边在 60% 的位置。#}
{#                                    }#}
{#                                ],#}
{#                                label: {#}
{#                                    show: true,#}
{#                                    interval: 'auto',#}
{#                                    rotate: 0,#}
{#                                    formatter: '{c} %',#}
{#                                    textStyle: {#}
{#                                        color: '#333'#}
{#                                    }#}
{#                                },#}
{#                                toolbox: {#}
{#                                    show: true,#}
{#                                    feature: {#}
{#                                        dataZoom: {#}
{#                                            yAxisIndex: 'none'#}
{#                                        },#}
{#                                        dataView: {readOnly: false},#}
{#                                        magicType: {type: ['line', 'bar']},#}
{#                                        restore: {},#}
{#                                        saveAsImage: {}#}
{#                                    }#}
{#                                },#}
{##}
{#                            })#}
{#                        }#}
{##}
{#                    }#}
{#                })#}
{##}
{##}
{#                mychart.setOption(option);#}
{#            </script>#}
{#        </div>#}
{##}
{##}
{#        <div class="table-responsive col-md-6" style="height: 410px;min-height: 100px;width:50%;margin: 0 auto">#}
            {#                <h2 class="sub-header" style="width:50%;margin: 0 auto" >Section title</h2>#}
{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>#</th>#}
{#                    <th>Header</th>#}
{#                    <th>Header</th>#}
{#                    <th>Header</th>#}
{#                    <th>Header</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <tr>#}
{#                    <td>1,001</td>#}
{#                    <td>Lorem</td>#}
{#                    <td>ipsum</td>#}
{#                    <td>dolor</td>#}
{#                    <td>sit</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,002</td>#}
{#                    <td>amet</td>#}
{#                    <td>consectetur</td>#}
{#                    <td>adipiscing</td>#}
{#                    <td>elit</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,003</td>#}
{#                    <td>Integer</td>#}
{#                    <td>nec</td>#}
{#                    <td>odio</td>#}
{#                    <td>Praesent</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,003</td>#}
{#                    <td>libero</td>#}
{#                    <td>Sed</td>#}
{#                    <td>cursus</td>#}
{#                    <td>ante</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,004</td>#}
{#                    <td>dapibus</td>#}
{#                    <td>diam</td>#}
{#                    <td>Sed</td>#}
{#                    <td>nisi</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,005</td>#}
{#                    <td>Nulla</td>#}
{#                    <td>quis</td>#}
{#                    <td>sem</td>#}
{#                    <td>at</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,006</td>#}
{#                    <td>nibh</td>#}
{#                    <td>elementum</td>#}
{#                    <td>imperdiet</td>#}
{#                    <td>Duis</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,007</td>#}
{#                    <td>sagittis</td>#}
{#                    <td>ipsum</td>#}
{#                    <td>Praesent</td>#}
{#                    <td>mauris</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,008</td>#}
{#                    <td>Fusce</td>#}
{#                    <td>nec</td>#}
{#                    <td>tellus</td>#}
{#                    <td>sed</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,009</td>#}
{#                    <td>augue</td>#}
{#                    <td>semper</td>#}
{#                    <td>porta</td>#}
{#                    <td>Mauris</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,010</td>#}
{#                    <td>massa</td>#}
{#                    <td>Vestibulum</td>#}
{#                    <td>lacinia</td>#}
{#                    <td>arcu</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,011</td>#}
{#                    <td>eget</td>#}
{#                    <td>nulla</td>#}
{#                    <td>Class</td>#}
{#                    <td>aptent</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,012</td>#}
{#                    <td>taciti</td>#}
{#                    <td>sociosqu</td>#}
{#                    <td>ad</td>#}
{#                    <td>litora</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,013</td>#}
{#                    <td>torquent</td>#}
{#                    <td>per</td>#}
{#                    <td>conubia</td>#}
{#                    <td>nostra</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,014</td>#}
{#                    <td>per</td>#}
{#                    <td>inceptos</td>#}
{#                    <td>himenaeos</td>#}
{#                    <td>Curabitur</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1,015</td>#}
{#                    <td>sodales</td>#}
{#                    <td>ligula</td>#}
{#                    <td>in</td>#}
{#                    <td>libero</td>#}
{#                </tr>#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
